@import url(reset.css);
:root {
  --app-bg: #f2f3f4;
  --app-bg-blue: #3487f3;
  --app-bg-orange: #d47215;
  --app-bg-purple: #6a1fc0;
  --app-bg-dark: #323235;
  --app-bg-green: #4dcc3c;
  --app-blue-hover: #364ee6;
  --app-red: #ff3c57;
  --app-red-hover: #ff2846;
}

body {
  background-color: var(--app-bg-dark);
}

.container {
  width: min(100% - 30px, 1280px);
  margin-inline: auto;
}

h1 {
  color: #fff;
  font-size: 44px;
  margin-top: 10vh;
  margin-bottom: 25px;
}

.content {
  height: 55vh;
  text-align: center;
}


.inputs label {
  padding: 20px;
  color: #fff;
  font-weight: 600;
  margin-bottom: 10px;
}

.inputs select {
  background-color: #3f3f41;
  color: #fff;
  border-radius: 5px;
  width: 11%;
  min-width: 55px;
  height: 35px;
  text-align: center;
  margin-bottom: 10px;
}

.inputs input[type=button] {
  color: #fff;
  background-color: #db7e26;
  font-weight: 600;
  height: 45px;
  width: 100px;
  border-radius: 7px;
  padding: 15px;
  margin-left: 25px;
  transition: all 0.33s;
}

.inputs input[type=button]:hover {
  background-color: #ec8a2d;
}



.grid {
  width: 100%;
  height: 100%;
  display: grid;
  gap: 13px;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, 1fr);
  text-align: center;
  padding: 15px;
}


.col {
  height: 100%;
  width: 100%;
}

.info {
  color: #fff;
  font-size: 26px;
  font-weight: 500;
  padding: 15px;
}










